/* 设置基础样式 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* 版心布局 */
.container {
  width: 100%; /* 默认宽度为 100%，占满全屏 */
  max-width: 1200px; /* 最大宽度 1200px */
  margin: 0 auto; /* 居中 */
}

/* 页脚和头部的基础样式 */
header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* 主要内容样式 */
main {
  padding: 20px;
  /* background-color:red; */
  min-height: 80vh;
}

/* 针对更小屏幕的响应式设计 */
@media (max-width: 768px) {
  .container {
    width: 100%; /* 宽度为 100% */
  }

  header h1 {
    font-size: 18px; /* 缩小标题字体 */
  }

  footer {
    font-size: 12px; /* 缩小页脚字体 */
  }
}
